@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var listpt = (IPagedList<Models.EFrame.Producer>)ViewBag.PageListPR;
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Danh sách nhà sản xuất</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Danh sách nhà sản xuất</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-table mr-1"></i>Bảng nhà sản  xuất
                    </div>
                    <div class="col-6">
                        <form action="/" method="post" class="d-flex justify-content-end">
                            <input type="text" class="form-control mr-2 w-50" name="search" value="" />
                            <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên nhà sản xuất</th>
                                <th>Địa chỉ</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listpt)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Detail","ProducerAdmin",new { id = item.prodId })">@item.prodId</a></td>
                                    <td>@item.prodName</td>
                                    <td>@item.prodAddress</td>
                                    <td>
                                        <a href="@Url.Action("Delete","ProducerAdmin",new { id = item.prodId})">
                                            @if (item.status == 1)
                                            {
                                                <p>Vô hiệu hóa</p>
                                            }
                                            else
                                            {
                                                <p>Hoạt động</p>
                                            }
                                        </a>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-secondary">
                <div class="btn-group rounded-circle mt-1">
                    @Html.PagedListPager(listpt, x => Url.Action("Index", "ProducerAdmin", new { Area = "Admin", currentPage = x }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "nav-link btn-light" }
                        }
                    )
                </div>
            </div>
        </div>
    </div>
</main>

