@{
    ViewBag.Title = "Cập nhật tài khoản của bạn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    var findcustomer = (Models.EFrame.Customer)ViewBag.TimTaiKhoan;
}
<section class="account h-auto" id="account">
    <div class="container-fluid w-100 h-100 pt-4">
        <div class="container w-50">
            <div class="headerText text-center mt-5 mb-0">
                <div class="offset-sm-2 col-sm-8">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
            @using (Html.BeginForm("EditAccountMe", "AccountCustomer", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="username">Username</label>
                    @Html.ValidationSummary()
                    <input type="hidden" name="id" value="@findcustomer.customerId" />
                    <input type="text" name="username" class="form-control" value="@findcustomer.username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    @Html.ValidationSummary()
                    <input type="password" name="password" class="form-control" value="@findcustomer.password" />
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    @Html.ValidationSummary()
                    <input type="email" name="email" class="form-control" value="@findcustomer.email" />
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary w-50">Đặt lại</button>
                </div>
            }
        </div>
    </div>
</section>