@model List<Models.EFrame.Customer>
@{
    ViewBag.Title = "Danh sách quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">@ViewBag.Title</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-table mr-1"></i>Danh sách người dùng
                    </div>
                    <div class="col-6">
                        <form action="@Url.Action("SearchCustomer","AccountCustomer")" method="post" class="d-flex justify-content-end">
                            <input type="text" class="form-control mr-2 w-50" name="customerName" value="" />
                            <button type="submit" class="btn btn-success">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @{
                        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 3);
                        @grid.GetHtml(tableStyle: "table table-striped table-bordered table-hover", headerStyle: "webgrid-header",
                        alternatingRowStyle: "webgrid-alternating-row", selectedRowStyle: "webgrid-selected-row",
                        footerStyle: "webgrid-footer", rowStyle: "webgrid-row-style", mode: WebGridPagerModes.All,
                        firstText: "Trang dau", previousText: "<", nextText: ">", lastText: "Trang cuoi",
                        htmlAttributes: new { id = "DataTable" },
                        columns: grid.Columns(
                            grid.Column("customerId", header: "ID", canSort: false),
                            grid.Column("username", header: "Tên người dùng", canSort: false),
                            grid.Column("password", header: "Mật khẩu", canSort: false),

                            grid.Column("email", header: "Email", canSort: false),
                            grid.Column("", header: "Cập nhật", format:
                                @<text>
                                    <a href="@Url.Action("EditCustomer", "AccountCustomer", new { id = item.customerId })">Cập nhật</a>
                                </text>),
                            grid.Column("", header: "Thay đổi", format:
                                @<text>
                                    <a href="@Url.Action("Change", "AccountCustomer", new { id = item.customerId })">
                                        @if (item.status == 1)
                                        {
                                            <p>Khóa</p>
                                        }
                                        else
                                        {
                                            <p>Mở</p>
                                        }
                                    </a>
                                </text>)
                            ));
                    }
                    <div class="form-group d-flex justify-content-center">
                        <a class="btn btn-light w-50" href="@Url.Action("AddNewCustomer","AccountCustomer")">Thêm</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

